
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<main>
    <!-- section-->
    <div class="mt-4">
        <div class="container">
            <!-- row -->
            <div class="row ">
                <!-- col -->
                <div class="col-12">
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="#!">Home</a></li>
                            <li class="breadcrumb-item"><a href="#!">Shop</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Shop Checkout</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- section -->
    <section class="mb-lg-14 mb-8 mt-8">
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-12">
                    <div>
                        <div class="mb-8">
                            <!-- text -->
                            <h1 class="fw-bold mb-0">Checkout</h1>
                            <p class="mb-0">Already have an account? Click here to <a href="#!">Sign in</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <!-- row -->
                <div class="row">
                    <div class="col-lg-7 col-md-12">
                        <!-- accordion -->
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <!-- accordion item -->
                            <div class="accordion-item py-4">

                                <div class="d-flex justify-content-between align-items-center">
                                    <!-- heading one -->
                                    <a href="#" class="fs-5 text-inherit collapsed h4" data-bs-toggle="collapse"
                                       data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                                        <i class="feather-icon icon-map-pin me-2 text-muted"></i>Add delivery address
                                    </a>
                                    <!-- btn -->
                                    <a href="#" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                                       data-bs-target="#addAddressModal">Add a new address </a>
                                    <!-- collapse -->
                                </div>
                                <div id="flush-collapseOne" class="accordion-collapse collapse show"
                                     data-bs-parent="#accordionFlushExample">
                                    <div class="mt-5">
                                        <div class="row" id="cusAdd">
                                           
                                        </div>
                                    </div>
                                </div>

                            </div>
                          
                            <div class="accordion-item py-4">

                                <a href="#" class="text-inherit h5" data-bs-toggle="collapse"
                                   data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                    <i class="feather-icon icon-credit-card me-2 text-muted"></i>Payment Method
                                    <!-- collapse -->
                                </a>
                                <div id="flush-collapseFour" class="accordion-collapse collapse "
                                     data-bs-parent="#accordionFlushExample">

                                    <div class="mt-5">
                                        <div>

                                            <!-- card -->
                                            <div class="card card-bordered shadow-none mb-2">
                                                <!-- card body -->
                                                <div class="card-body p-6">
                                                    <!-- check input -->
                                                    <div class="d-flex">
                                                        <div class="form-check">
                                                            <input class="form-check-input" value="online" type="radio" name="flexRadioDefault" id="payonline">
                                                            <label class="form-check-label ms-2" for="payoneer">

                                                            </label>
                                                        </div>
                                                        <div>
                                                            <!-- title -->
                                                            <h5 class="mb-1 h6"> Pay with Payoneer</h5>
                                                            <p class="mb-0 small">
                                                                You will be redirected to Payoneer website to complete your
                                                                purchase securely.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- card -->
                                            <div class="card card-bordered shadow-none">
                                                <div class="card-body p-6">
                                                    <!-- check input -->
                                                    <div class="d-flex">
                                                        <div class="form-check">
                                                            <input class="form-check-input" value="COD" type="radio" name="flexRadioDefault" id="cashonDelivery">
                                                            <label class="form-check-label ms-2" for="cashonDelivery">

                                                            </label>
                                                        </div>
                                                        <div>
                                                            <!-- title -->
                                                            <h5 class="mb-1 h6"> Cash on Delivery</h5>
                                                            <p class="mb-0 small">Pay with cash when your order is delivered.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Button -->
                                            <div class="mt-5 d-flex justify-content-end">
                                                <a href="#" class="btn btn-outline-gray-400 text-muted"
                                                   data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
                                                   aria-controls="flush-collapseThree">Prev</a>
                                                <a class="btn btn-primary ms-2" onclick="PlacesOrder()">Place Order</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>

                    </div>

                    <div class="col-12 col-md-12 offset-lg-1 col-lg-4">
                        <div class="mt-4 mt-lg-0">
                            <div class="card shadow-sm">
                                <h5 class="px-6 py-4 bg-transparent mb-0">Order Details</h5>
                                <ul class="list-group list-group-flush" id="cardsummery">


                                </ul>
                                <ul class="list-group list-group-flush">


                                    <!-- list group item -->
                                    <li class="list-group-item px-4 py-3">
                                        <div class="d-flex align-items-center justify-content-between   mb-2">
                                            <div>
                                                Item Subtotal

                                            </div>
                                            <div class="fw-bold" id="total">

                                                00.00
                                            </div>

                                        </div>
                                        <div class="d-flex align-items-center justify-content-between  ">
                                            <div>
                                                Service Fee <i class="feather-icon icon-info text-muted" data-bs-toggle="tooltip"
                                                               title="Default tooltip"></i>

                                            </div>
                                            <div class="fw-bold" id="tax">
                                                $3.00

                                            </div>

                                        </div>

                                    </li>
                                    <!-- list group item -->
                                    <li class="list-group-item px-4 py-3">
                                        <div class="d-flex align-items-center justify-content-between fw-bold">
                                            <div>
                                                Subtotal
                                            </div>
                                            <div id="Gtotal">
                                                $73.00


                                            </div>

                                        </div>


                                    </li>
                                </ul>
                            </div>


                        </div>
                    </div>


                </div>
            </div>


        </div>


    </section>
</main>
<!-- Modal -->
<div class="modal fade" id="addAddressModal" tabindex="-1" aria-labelledby="addAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- modal body -->
            <div class="modal-body p-6">
                <div class="d-flex justify-content-between mb-5">
                    <!-- heading -->
                    <div>
                        <h5 class="h6 mb-1" id="addAddressModalLabel">New Shipping Address</h5>
                        <p class="small mb-0">Add new shipping address for your order delivery.</p>
                    </div>
                    <div>
                        <!-- button -->
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
                <form action="/home/Saveadd" method="post">
                    <!-- row -->
                    <div class="row g-3">
                        <!-- col -->
                        <div class="col-12">

                            <input type="text" class="form-control" name="fname" placeholder="First name" aria-label="First name" required="">
                        </div>
                        <!-- col -->
                        <div class="col-12">
                            <input type="text" class="form-control" name="lname" placeholder="Last name" aria-label="Last name" required="">
                        </div>
                        <!-- col -->
                        <div class="col-12">

                            <input type="text" class="form-control" name="add1" placeholder="Address Line 1">
                        </div>
                        <div class="col-12">
                            <!-- button -->
                            <input type="text" class="form-control" name="add2" placeholder="Address Line 2">
                        </div>
                        <div class="col-12">
                            <!-- button -->
                            <input type="text" class="form-control" name="city" placeholder="City">
                        </div>
                        <div class="col-12">

                            <!-- button -->
                            <select class="form-select" name="country">
                                <option selected=""> India</option>
                                <option value="1">UK</option>
                                <option value="2">USA</option>
                                <option value="3">UAE</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <!-- button -->
                            <select class="form-select" name="state">
                                <option selected="">Gujarat</option>
                                <option value="1">Northern Ireland</option>
                                <option value="2"> Alaska</option>
                                <option value="3">Abu Dhabi</option>
                            </select>
                        </div>
                        <div class="col-12">

                            <!-- button -->
                            <input type="text" class="form-control" name="zip" placeholder="Zip Code">
                        </div>
                        <div class="col-12">
                            <!-- button -->
                            <input type="text" class="form-control" name="busi" placeholder="Business Name">
                        </div>
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <!-- label -->
                                <label class="form-check-label" for="flexCheckDefault">
                                    Set as Default
                                </label>
                            </div>
                        </div>
                        <!-- button -->
                        <div class="col-12 text-end">
                            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
                            <button class="btn btn-primary" type="submit">Save Address</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        bindGetAdd();
        bindGetCartItem();
    })
    function bindGetAdd() {
        var id = $('#cusid').val();
        $.ajax({
            type: 'post',
            url: '/Home/GetAdd',
            data: { CusId: id },
            success: function (data) {
                $.each(data, function (i, item) {
                    if (item.IsActive == true) {
                        $('#cusAdd').append('<div class="col-lg-6 col-12 mb-4"><div class="card card-body p-6 "> <div class="form-check mb-4"><input class="form-check-input" type="radio" name="flexRadioDefault" id="homeRadio" checked><label class="form-check-label text-dark" for="homeRadio"> Home</label> </div> <address><strong>' + item.fname + ' ' + item.lname + '</strong> <br>' + item.add2 + ' ' + item.add2 + ', <br>' + item.city + ', ' + item.country+',<br><abbr title="Phone"></abbr></address><span class="text-danger">Default address </span></div></div>');
                    } else {
                        $('#cusAdd').append('<div class="col-lg-6 col-12 mb-4"><div class="card card-body p-6 "> <div class="form-check mb-4"><input class="form-check-input" type="radio" name="flexRadioDefault" id="homeRadio"><label class="form-check-label text-dark" for="homeRadio"> Home</label> </div> <address><strong>' + item.fname + ' ' + item.lname + '</strong> <br>' + item.add2 + ' ' + item.add2 + ', <br>' + item.city + ', ' + item.country + ',<br><abbr title="Phone"></abbr></address></div></div>');
                    }

                   
                })
            }

        })
    }

    function bindGetCartItem() {

        var d1 = new Date();
        var fp = new Fingerprint2();
        fp.get(function (result) {
            var d2 = new Date();
            var timeString = "Time took to calculate the fingerprint: " + (d2 - d1) + "ms";
            if (typeof window.console !== "undefined") {
                console.log(timeString);
                console.log(result);
                $.ajax({
                    type: 'post',
                    url: '/Home/GetCartItems',
                    data: { DeviceId: result },
                    success: function (data) {
                        var total = 00;
                        $.each(data, function (i, item) {
                            total += Number(item.price);
                            var img;
                            if (item.Images != null && item.Images != '') {
                                var img = item.Images.split(",");

                                $('#cardsummery').append('<li class="list-group-item px-4 py-3"><div class= "row align-items-center" ><div class="col-2 col-md-2"><img src="/Uploads/' + img[0] + '" alt="Ecommerce" class="img-fluid"> </div><div class="col-5 col-md-5"><h6 class="mb-0">' + item.productName + '</h6><span><small class="text-muted">.98 / lb</small></span></div><div class="col-2 col-md-2 text-center text-muted"><span>1</span></div><div class="col-3 text-lg-end text-start text-md-end col-md-3"><span class="fw-bold">₹' + item.price + '</span></div> </div></li >');
                            }
                            else {
                                
                                $('#cardsummery').append('<li class="list-group-item px-4 py-3"><div class= "row align-items-center" ><div class="col-2 col-md-2"><img src="https://freshcart.codescandy.com/assets/images/stores-logo/stores-logo-2.svg" alt="Ecommerce" class="img-fluid"> </div><div class="col-5 col-md-5"><h6 class="mb-0">' + item.productName + '</h6><span><small class="text-muted">.98 / lb</small></span></div><div class="col-2 col-md-2 text-center text-muted"><span>1</span></div><div class="col-3 text-lg-end text-start text-md-end col-md-3"><span class="fw-bold">₹' + item.price + '</span></div> </div></li >');
                            }


                        })

                        $('#total').text('₹' + total);
                        $('#tax').text('₹ 150');
                        $('#Gtotal').text('₹ ' + (total+150));
                    }
                });
            }

        });

    }


    function PlacesOrder() {

        var paymethod = document.querySelector('input[name="flexRadioDefault"]:checked').value;
      
        var d1 = new Date();
        var fp = new Fingerprint2();
        fp.get(function (result) {
            var d2 = new Date();
            var timeString = "Time took to calculate the fingerprint: " + (d2 - d1) + "ms";
            if (typeof window.console !== "undefined") {
                console.log(timeString);
                console.log(result);
                $.ajax({
                    type: 'post',
                    url: '/Home/PlaceOrder',
                    data: { DeviceId: result, method: paymethod},
                    success: function (data) {
                        window.location.href = '/Home/PlacedOrder?id=' + data;
                    }
                });
            }

        });
00
    }
</script>
