
@{
    ViewBag.Title = "PlacedOrder";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<center>
    <h2>Order Placed !</h2>

    <img src="~/Content/UserAssets/assets/images/success.gif" />



    <h6>Order Id: <i>@ViewBag.id</i></h6>

</center>